@model EasyLearning.WebApp.Models.CustomerCourseViewModel
@using Microsoft.AspNetCore.Identity
@using EasyLearning.Infrastructure.Data.Entities
@{
    ViewData["Title"] = "Home Page";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/img/carousel-1.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Các Khóa Học Tốt Nhất</h5>
                            <h1 class="display-3 text-white animated slideInDown">Nền Tảng Bán Khóa Học Tốt Nhất Hiện Nay</h1>
                       
                            <a asp-controller="About" asp-action="IndexAbout" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Xem Thêm</a>
                            <a asp-controller="CustomerCourses" asp-action="Listcourse" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Tham Gia Ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/img/carousel-2.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Các Khóa Học Tốt Nhất</h5>
                            <h1 class="display-3 text-white animated slideInDown">Đăng Ký Trực Tuyến Ngay Tại Nhà</h1>
  
                            <a asp-controller="About" asp-action="IndexAbout" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Xem Thêm</a>
                            <a asp-controller="CustomerCourses" asp-action="Listcourse" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Tham Gia Ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <h5 class="mb-3">Giảng Viên Chuyên Nghiệp</h5>
                        <p>Phương pháp giảng dạy linh hoạt và có kinh nghiệm trong lĩnh vực chuyên môn</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5 class="mb-3">Đăng Ký Trực Tuyến</h5>
                        <p>Thuận tiện cho việc đăng ký, lựa chọn thời gian và lịch học phù hợp với lịch trình cá nhân</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-home text-primary mb-4"></i>
                        <h5 class="mb-3">Các Dự Án Tại Nhà</h5>
                        <p>Không bị giới hạn bởi môi trường làm việc truyền thống, có thể chọn thời gian làm việc phù hợp với lịch trình cá nhân và tạo điều kiện tốt nhất để sáng tạo</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">Thư Viện Tài Liệu</h5>
                        <p>Cung cấp một loạt các tài liệu và tài nguyên khác nhau, từ sách, bài báo, đến bản ghi và hướng dẫn, giúp bạn nắm vững thông tin cần thiết cho dự án của mình</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="~/img/about.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                <h1 class="mb-4">Chào mừng đến với eLEARNING</h1>
                <p class="mb-4">Tại eLEARNING , chúng tôi tin rằng học tập không bao giờ ngừng lại và mỗi người đều có khả năng phát triển bản thân. Chính vì vậy, chúng tôi đã thành lập eLEARNING với mục tiêu giúp mọi người tiếp cận kiến thức và kỹ năng mới một cách dễ dàng và linh hoạt.</p>
                <p class="mb-4">Hãy đồng hành cùng chúng tôi trên con đường phát triển cá nhân và chuyên môn của bạn. Đăng ký ngay hôm nay để bắt đầu hành trình mới của bạn!</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Giảng Viên Chuyên Nghiệp</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Đăng Ký Học Trực Tuyến</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Cấp Giấy Chứng Nhận Quốc Tế</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Thực Hiện Dự Án Tại Nhà</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Tiết Kiệm Chi Phí </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Thời Gian Linh Hoạt</p>
                    </div>
                </div>
                <a a asp-controller="About" asp-action="IndexAbout" class="btn btn-primary py-3 px-5 mt-2">Xem Thêm</a>
         
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Categories Start -->
<div class="container-xxl py-5 category">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Danh Mục</h6>
            <h1 class="mb-5">Danh Mục Các Khóa Học</h1>
        </div>
        <div class="row g-3">
            <div class="col-lg-7 col-md-6">
                <div class="row g-3">
                    @foreach (var itemCategoty in Model.Categories)
                    {
                        var quantityCategory = 0;
                        @if (itemCategoty.SortOrder == 1)
                        {
                            <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                                <a class="position-relative d-block overflow-hidden" asp-controller="CustomerCourses" asp-action="ListCourseByCategory" asp-route-categoryId="@itemCategoty.Id">
                                    <img class="img-fluid" src="~/img/cat-1.jpg" alt="">
                                    <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                        <h5 class="m-0">@itemCategoty.CategoryName</h5>
                                        @foreach (var itemCourseDetail in Model.CourseDetails)
                                        {
                                            if (itemCourseDetail.CategoryId == itemCategoty.Id)
                                            {
                                                quantityCategory += 1;
                                            }
                                        }
                                        <small class="text-primary">@quantityCategory</small>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                    @foreach (var itemCategoty in Model.Categories)
                    {
                        var quantityCategory = 0;
                        if (itemCategoty.SortOrder == 2)
                        {
                            <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                                <a class="position-relative d-block overflow-hidden" asp-controller="CustomerCourses" asp-action="ListCourseByCategory" asp-route-categoryId="@itemCategoty.Id">
                                    <img class="img-fluid" src="~/img/cat-2.jpg" alt="">
                                    <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                        <h5 class="m-0">@itemCategoty.CategoryName</h5>
                                        @foreach (var itemCourseDetail in Model.CourseDetails)
                                        {
                                            if (itemCourseDetail.CategoryId == itemCategoty.Id)
                                            {
                                                quantityCategory += 1;
                                            }
                                        }
                                        <small class="text-primary">@quantityCategory</small>

                                    </div>
                                </a>
                            </div>
                        }
                    }
                    @foreach (var itemCategoty in Model.Categories)
                    {
                        var quantityCategory = 0;
                        if (itemCategoty.SortOrder == 3)
                        {
                            <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                                <a class="position-relative d-block overflow-hidden" asp-controller="CustomerCourses" asp-action="ListCourseByCategory" asp-route-categoryId="@itemCategoty.Id">
                                    <img class="img-fluid" src="~/img/cat-3.jpg" alt="">
                                    <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                        <h5 class="m-0">@itemCategoty.CategoryName</h5>
                                        @foreach (var itemCourseDetail in Model.CourseDetails)
                                        {
                                            if (itemCourseDetail.CategoryId == itemCategoty.Id)
                                            {
                                                quantityCategory += 1;
                                            }
                                        }
                                        <small class="text-primary">@quantityCategory</small>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
            @foreach (var itemCategoty in Model.Categories)
            {
                var quantityCategory = 0;
                if (itemCategoty.SortOrder == 4)
                {
                    <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                        <a class="position-relative d-block h-100 overflow-hidden" asp-controller="CustomerCourses" asp-action="ListCourseByCategory" asp-route-categoryId="@itemCategoty.Id">
                            <img class="img-fluid position-absolute w-100 h-100" src="~/img/cat-4.jpg" alt="" style="object-fit: cover;">
                            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin:  1px;">
                                <h5 class="m-0">@itemCategoty.CategoryName</h5>
                                @foreach (var itemCourseDetail in Model.CourseDetails)
                                {
                                    if (itemCourseDetail.CategoryId == itemCategoty.Id)
                                    {
                                        quantityCategory += 1;
                                    }
                                }
                                <small class="text-primary">@quantityCategory</small>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</div>
<!-- Categories Start -->
<!-- Courses Start -->
<!-- Courses Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Các Khóa Học</h6>
            <h1 class="mb-5">Các Khóa Học Nổi Tiếng</h1>
        </div>
        @{
           
            var topCourses = Model.Courses
            .Select(course => new
            {
                Course = course,
                FeedbackCount = Model.Feedbacks.Count(feedback => feedback.CoursesId == course.Id)
            })
            .OrderByDescending(x => x.FeedbackCount)
            .Take(3)
            .Select(x => x.Course)
            .ToList();
        }
        <div class="row g-4 justify-content-center">
            @foreach (var itemCourse in topCourses)
            {
                
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="~/img/course-1.jpg" >
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a asp-controller="CustomerCourses" asp-action="DetailCourse" asp-route-courseId="@itemCourse.Id" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Xem Thêm</a>
                                        @if (Model.OrderDetails.Any(itemOrderDetail => itemOrderDetail.CoursesId == itemCourse.Id))
                                        {
                                            <a asp-controller="CustomerCourses" asp-action="EventSchedule" asp-route-courseId="@itemCourse.Id" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Đi đến lịch học</a>
                                        }
                                        else
                                        {
                                            if (!Model.ShoppingCartItems.Any(shoppingCartItem => shoppingCartItem.CoursesId == itemCourse.Id) || Model.ShoppingCartItems.Count == 0)
                                            {
                                                <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-courseId="@itemCourse.Id" onclick="addToCart('@itemCourse.Id')" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Tham Gia Ngay</a>
                                            }
                                            else if (Model.ShoppingCartItems.Any(shoppingCartItem => shoppingCartItem.CoursesId == itemCourse.Id))
                                            {
                                                <a asp-controller="ShoppingCart" asp-action="GetshoppingCart" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Đi đến giỏ hàng</a>
                                            }
                                        }
                                    } 
                                    else
                                    {
                                        <a asp-controller="account" asp-action="login" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Xem Thêm</a>
                                        <a asp-controller="account" asp-action="login" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Tham Gia Ngay</a>
                                    }                      
                            </div>
                        </div>
                            @{
                                var feedbackByCourse = Model.Feedbacks.Where(x => x.CoursesId == itemCourse.Id).ToList();
                                var countFeedback = feedbackByCourse.Count();
                                int totalStars = 0;
                                foreach (var feedback in feedbackByCourse)
                                {
                                    totalStars += feedback.FeedbackRating;
                                }
                                double averageRating = totalStars / (double)countFeedback;
                            }
                        <div class="text-center p-4 pb-0">
                            <h3 class="mb-0">@itemCourse.CoursesPrice VNĐ</h3>
                            <div class="mb-3">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        <small class="fas fa-star @(i <= averageRating ? "text-primary" : "text-muted")"></small>
                                    }
                                    <small>(@countFeedback)</small>
                            </div>
                            <h5 class="mb-4">@itemCourse.CoursesName</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>@itemCourse.Instructor</small>
                            <small class="flex-fill text-center border-end py-2">
                                <i class="fas @((itemCourse.CourseType == CourseType.Online) ? "fa-globe" : "fa-building") text-primary me-2"></i>
                                @(itemCourse.CourseType == CourseType.Online ? "Online" : "Offline")
                            </small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>@itemCourse.RegisteredUsers</small>
                        </div>
                    </div>
                </div>
                
            }
        </div>
    </div>
</div>

<!-- Courses End -->

<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Phản Hồi</h6>
            <h1 class="mb-5">Đánh Giá Từ Các Học Viên</h1>
        </div>

        <div class="owl-carousel testimonial-carousel position-relative">
            @foreach(var itemUser in Model.Users)
            {
                @foreach (var itemFeeedback in Model.Feedbacks)
                {
                    if (itemUser.Id == itemFeeedback.FeedbackUserId)
                    {
                        <div class="testimonial-item text-center">
                            <img class="border rounded-circle p-2 mx-auto mb-3" src="@itemUser.UserImageUrl" style="width: 80px; height: 80px;">
                            <h5 class="mb-0">@itemUser.UserName.Replace("@gmail.com", "")</h5>
                            <p>Profession</p>
                            <div class="testimonial-text bg-light text-center p-4">
                                <p class="mb-0">@itemFeeedback.FeedbackContent</p>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>
<df-messenger intent="WELCOME"
              chat-icon="https://raw.githubusercontent.com/easylearning2k3/easylearningIcon/938857d057a812d65c440af4bc82ac2fd16eca46/chat_icon.svg"
              chat-title="Easy Learning"
              agent-id="fb1685fa-8d4d-4a5c-9ef5-327f8e27b164"
              language-code="en">
              
</df-messenger>
<style>
    /* Custom CSS for chat widget */
    df-messenger {
        --df-messenger-bot-message: #06BBCC;
        --df-messenger-button-titlebar-color: #06BBCC;
        --df-messenger-chat-background-color: #FFFFFF;
        --df-messenger-font-color: #000000;
        --df-messenger-send-icon: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"%3E%3Cpath d="M123.6 391.3c12.9-9.4 29.6-11.8 44.6-6.4c26.5 9.6 56.2 15.1 87.8 15.1c124.7 0 208-80.5 208-160s-83.3-160-208-160S48 160.5 48 240c0 32 12.4 62.8 35.7 89.2c8.6 9.7 12.8 22.5 11.8 35.5c-1.4 18.1-5.7 34.7-11.3 49.4c17-7.9 31.1-16.7 39.4-22.7zM21.2 431.9c1.8-2.7 3.5-5.4 5.1-8.1c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208s-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6c-15.1 6.6-32.3 12.6-50.1 16.1c-.8.2-1.6.3-2.4.5c-4.4.8-8.7 1.5-13.2 1.9c-.2 0-.5.1-.7.1c-5.1.5-10.2.8-15.3.8c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4c4.1-4.2 7.8-8.7 11.3-13.5c1.7-2.3 3.3-4.6 4.8-6.9c.1-.2.2-.3.3-.5z"%3E%3C/path%3E%3C/svg%3E'); /* Biểu tượng gửi */
        --df-messenger-user-message: #06BBCC;
    }

        /* Hide the default chat button */
        df-messenger .df-messenger-wrapper .df-messenger-button-wrapper {
            display: none;
        }

    /* Custom chat button */
    .custom-chat-icon {
        position: fixed;
        bottom: 24px;
        right: 24px;
        width: 56px;
        height: 56px;
        background-color: #06BBCC;
        border-radius: 50%;
        background-image: url('https://cdn-icons-png.flaticon.com/128/2076/2076218.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    /* Show the chat widget when the custom icon is clicked */
    .show-chat {
        display: block !important;
    }
</style>
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<script src="~/js/home.js"></script>