@model EasyLearning.WebApp.Models.CustomerCourseViewModel
@using Microsoft.AspNetCore.Identity
@using EasyLearning.Infrastructure.Data.Entities
@{
    ViewData["Title"] = "Home Page";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/img/carousel-1.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Các Khóa Học Tốt Nhất</h5>
                            <h1 class="display-3 text-white animated slideInDown">Nền Tảng Bán Khóa Học Tốt Nhất Hiện Nay</h1>
                            <p class="fs-5 text-white mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea sanctus eirmod elitr.</p>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Xem Thêm</a>
                            <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Tham Gia Ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/img/carousel-2.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Các Khóa Học Tốt Nhất</h5>
                            <h1 class="display-3 text-white animated slideInDown">Đăng Ký Trực Tuyến Ngay Tại Nhà</h1>
                            <p class="fs-5 text-white mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea sanctus eirmod elitr.</p>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Xem Thêm</a>
                            <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Tham Gia Ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <h5 class="mb-3">Giảng Viên Chuyên Nghiệp</h5>
                        <p>Phương pháp giảng dạy linh hoạt và có kinh nghiệm trong lĩnh vực chuyên môn</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5 class="mb-3">Đăng Ký Trực Tuyến</h5>
                        <p>Thuận tiện cho việc đăng ký, lựa chọn thời gian và lịch học phù hợp với lịch trình cá nhân</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-home text-primary mb-4"></i>
                        <h5 class="mb-3">Các Dự Án Tại Nhà</h5>
                        <p>Không bị giới hạn bởi môi trường làm việc truyền thống, có thể chọn thời gian làm việc phù hợp với lịch trình cá nhân và tạo điều kiện tốt nhất để sáng tạo</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">Thư Viện Tài Liệu</h5>
                        <p>Cung cấp một loạt các tài liệu và tài nguyên khác nhau, từ sách, bài báo, đến bản ghi và hướng dẫn, giúp bạn nắm vững thông tin cần thiết cho dự án của mình</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="~/img/about.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                <h1 class="mb-4">Chào mừng đến với eLEARNING</h1>
                <p class="mb-4">Tại eLEARNING , chúng tôi tin rằng học tập không bao giờ ngừng lại và mỗi người đều có khả năng phát triển bản thân. Chính vì vậy, chúng tôi đã thành lập eLEARNING với mục tiêu giúp mọi người tiếp cận kiến thức và kỹ năng mới một cách dễ dàng và linh hoạt.</p>
                <p class="mb-4">Hãy đồng hành cùng chúng tôi trên con đường phát triển cá nhân và chuyên môn của bạn. Đăng ký ngay hôm nay để bắt đầu hành trình mới của bạn!</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Giảng Viên Chuyên Nghiệp</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Đăng Ký Học Trực Tuyến</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Cấp Giấy Chứng Nhận Quốc Tế</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Thực Hiện Dự Án Tại Nhà</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Tiết Kiệm Chi Phí </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Thời Gian Linh Hoạt</p>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="">Xem Thêm</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Categories Start -->
<div class="container-xxl py-5 category">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Danh Mục</h6>
            <h1 class="mb-5">Danh Mục Các Khóa Học</h1>
        </div>
        <div class="row g-3">
            <div class="col-lg-7 col-md-6">
                <div class="row g-3">
                    @foreach (var itemCategoty in Model.Categories)
                    {
                        var quantityCategory = 0;
                        @if (itemCategoty.SortOrder == 1)
                        {
                            <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                                <a class="position-relative d-block overflow-hidden" href="">
                                    <img class="img-fluid" src="~/img/cat-1.jpg" alt="">
                                    <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                        <h5 class="m-0">@itemCategoty.CategoryName</h5>
                                        @foreach (var itemCourseDetail in Model.CourseDetails)
                                        {
                                            if (itemCourseDetail.CategoryId == itemCategoty.Id)
                                            {
                                                quantityCategory += 1;
                                            }
                                        }
                                        <small class="text-primary">@quantityCategory</small>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                    @foreach (var itemCategoty in Model.Categories)
                    {
                        var quantityCategory = 0;
                        if (itemCategoty.SortOrder == 2)
                        {
                            <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                                <a class="position-relative d-block overflow-hidden" href="">
                                    <img class="img-fluid" src="~/img/cat-2.jpg" alt="">
                                    <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                        <h5 class="m-0">@itemCategoty.CategoryName</h5>
                                        @foreach (var itemCourseDetail in Model.CourseDetails)
                                        {
                                            if (itemCourseDetail.CategoryId == itemCategoty.Id)
                                            {
                                                quantityCategory += 1;
                                            }
                                        }
                                        <small class="text-primary">@quantityCategory</small>

                                    </div>
                                </a>
                            </div>
                        }
                    }
                    @foreach (var itemCategoty in Model.Categories)
                    {
                        var quantityCategory = 0;
                        if (itemCategoty.SortOrder == 3)
                        {
                            <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                                <a class="position-relative d-block overflow-hidden" href="">
                                    <img class="img-fluid" src="~/img/cat-3.jpg" alt="">
                                    <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                        <h5 class="m-0">@itemCategoty.CategoryName</h5>
                                        @foreach (var itemCourseDetail in Model.CourseDetails)
                                        {
                                            if (itemCourseDetail.CategoryId == itemCategoty.Id)
                                            {
                                                quantityCategory += 1;
                                            }
                                        }
                                        <small class="text-primary">@quantityCategory</small>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
            @foreach (var itemCategoty in Model.Categories)
            {
                var quantityCategory = 0;
                if (itemCategoty.SortOrder == 4)
                {
                    <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                        <a class="position-relative d-block h-100 overflow-hidden" href="">
                            <img class="img-fluid position-absolute w-100 h-100" src="~/img/cat-4.jpg" alt="" style="object-fit: cover;">
                            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin:  1px;">
                                <h5 class="m-0">@itemCategoty.CategoryName</h5>
                                @foreach (var itemCourseDetail in Model.CourseDetails)
                                {
                                    if (itemCourseDetail.CategoryId == itemCategoty.Id)
                                    {
                                        quantityCategory += 1;
                                    }
                                }
                                <small class="text-primary">@quantityCategory</small>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</div>
<!-- Categories Start -->
<!-- Courses Start -->
<!-- Courses Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Các Khóa Học</h6>
            <h1 class="mb-5">Các Khóa Học Nổi Tiếng</h1>
        </div>
        @{
            var itemCount = 0;
        }
        <div class="row g-4 justify-content-center">
            @foreach (var itemCourse in Model.Courses)
            {
                if (itemCount <3)
                {
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="~/img/course-1.jpg" alt="">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a asp-controller="CustomerCourses" asp-action="DetailCourse" asp-route-courseId="@itemCourse.Id" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Xem Thêm</a>
                                        @if (Model.OrderDetails.Any(itemOrderDetail => itemOrderDetail.CoursesId == itemCourse.Id))
                                        {
                                            <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-courseId="@itemCourse.Id" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Đi đến lịch học</a>
                                        }
                                        else
                                        {
                                            if (!Model.ShoppingCartItems.Any(shoppingCartItem => shoppingCartItem.CoursesId == itemCourse.Id) || Model.ShoppingCartItems.Count == 0)
                                            {
                                                <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-courseId="@itemCourse.Id" onclick="addToCart('@itemCourse.Id')" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Tham Gia Ngay</a>
                                            }
                                            else if (Model.ShoppingCartItems.Any(shoppingCartItem => shoppingCartItem.CoursesId == itemCourse.Id))
                                            {
                                                <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-courseId="@itemCourse.Id" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Đi đến giỏ hàng</a>
                                            }

                                        }
                                    } 
                                    else
                                    {
                                        <a asp-controller="account" asp-action="login" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Xem Thêm</a>
                                        <a asp-controller="account" asp-action="login" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Tham Gia Ngay</a>
                                    }                      
                            </div>
                        </div>
                        <div class="text-center p-4 pb-0">
                            <h3 class="mb-0">@itemCourse.CoursesPrice VNĐ</h3>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small>(123)</small>
                            </div>
                            <h5 class="mb-4">@itemCourse.CoursesName</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>@itemCourse.Instructor</small>
                                @{
                                    //Lấy ngày bắt đầu và kết thúc từ các thuộc tính StartDate và EndDate của itemCourse
                                    DateTime startDate = itemCourse.StartDate;
                                    DateTime endDate = itemCourse.EndDate;

                                    // Tính toán khoảng thời gian giữa hai ngày
                                    TimeSpan duration = endDate - startDate;

                                    // Lấy số tháng từ khoảng thời gian
                                    int months = (int)duration.TotalDays / 30;
                                }
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>@months Tháng</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>@itemCourse.MaxAttdendees</small>
                        </div>
                    </div>
                </div>
                itemCount++;
                }
            }
        </div>
    </div>
</div>

<!-- Courses End -->
<!-- Courses End -->
<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Giảng Viên</h6>
            <h1 class="mb-5">Các Giảng Viên</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="img/team-1.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Trần Anh Tuấn</h5>
                        <small>Vị Trí/ Chức Vụ</small>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Team End -->
<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Phản Hồi</h6>
            <h1 class="mb-5">Đánh Giá Từ Các Học Viên</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-1.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Trần Anh Tuấn</h5>
                <p>Profession</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Tôi rất ấn tượng với chất lượng của khóa học. Giảng viên rất am hiểu và dễ thương, luôn sẵn lòng giải đáp mọi thắc mắc của tôi. Các tài liệu và tài nguyên hỗ trợ rất phong phú và hữu ích. Tôi đã cảm thấy tự tin hơn trong lĩnh vực này sau khi hoàn thành khóa học.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-2.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Trần Anh Tuấn</h5>
                <p>Profession</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Tôi đã tìm kiếm một khóa học về Digital Marketing lâu nay và cuối cùng tôi đã tìm thấy nó ở đây! Khóa học cung cấp một cái nhìn toàn diện về Digital Marketing và hướng dẫn từ cơ bản đến nâng cao. Các bài giảng được trình bày một cách sinh động và dễ hiểu, giúp tôi tiếp cận với những khái niệm khó hiểu một cách dễ dàng. Tôi rất hài lòng với trải nghiệm học tập của mình ở đây</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-3.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Trần Anh Tuấn</h5>
                <p>Profession</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Đây là một trang web tuyệt vời cho những ai muốn phát triển kỹ năng cá nhân và chuyên môn. Khóa học rất thú vị và thách thức, giúp tôi mở rộng kiến thức và nâng cao khả năng của mình. Tôi đã học được rất nhiều điều mới và không thể chờ đợi để áp dụng chúng vào thực tế.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-4.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Trần Anh Tuấn</h5>
                <p>Profession</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Khóa học này là một nguồn thông tin quý báu về Thiết kế Đồ họa!. Nội dung của khóa học rất thú vị và được trình bày một cách dễ hiểu, giúp tôi tiếp cận những khái niệm khó khăn một cách dễ dàng. Tôi đã học được nhiều kỹ thuật mới và cảm thấy tự tin hơn trong việc thực hiện các dự án thiết kế của mình.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function addToCart(courseId) {
        $.ajax({
            url: '/ShoppingCart/AddToCart',
            type: 'POST',
            data: { courseId: courseId },
            success: function () {
                // Xử lý khi thêm vào giỏ hàng thành công (nếu cần)
                alert('Đã thêm vào giỏ hàng thành công!');
                updateCartItemCount(data);
            },
            error: function (xhr, status, error) {
                // Xử lý khi có lỗi xảy ra (nếu cần)
                console.error(error);
            }
        });
    }
    function updateCartItemCount(itemCount) {
        var cartItemCountSpan = document.getElementById('cartItemCount');
        if (cartItemCountSpan) {
            cartItemCountSpan.textContent = itemCount;
        }
    }
</script>