@model EasyLearning.WebApp.Models.UserProfileViewModel
@{
    ViewData["Title"] = "UpdateProfile";
}

@{
    ViewData["Title"] = "Profile";
}
<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link active ms-0" href="https://www.bootdey.com/snippets/view/bs5-edit-profile-account-details" target="__blank">Hồ sơ người dùng</a>
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Ảnh đại diện</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">Tệp tin JPG hoặc PNG không được lớn quá 10 MB</div>
                    <!-- Profile picture upload button-->
                    <button class="btn btn-primary" type="button">Đổi ảnh đại diện mới</button>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="card mb-4">
                <div class="card-header">Thông tin chi tiết tài khoản </div>
                <div class="card-body">
                    <form asp-action="UpdateProfile" method="post">
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Tên đăng nhập (Đây là tên đăng nhập lúc đăng kí - không thể đổi tên được)</label>
                            <input class="form-control" id="inputUsername" type="text" value="@Model.Username" readonly>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFullName">Tên đầy đủ</label>
                                <input class="form-control" id="inputFullName" name="FullName" type="text" placeholder="Enter your full name" value="@Model.FullName">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputAddress">Địa chỉ</label>
                                <input class="form-control" id="inputAddress" name="Address" type="text" placeholder="Enter your address" value="@Model.Address">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmail">Địa chỉ Email</label>
                            <input class="form-control" id="inputEmail" name="Email" type="email" placeholder="Enter your email address" value="@Model.Email">
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">Số điện thoại</label>
                                <input class="form-control" id="inputPhone" name="PhoneNumber" type="tel" placeholder="Enter your phone number" value="@Model.PhoneNumber">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputBirthday">Ngày sinh</label>
                                <input class="form-control" id="inputBirthday" name="BirthDate" type="date" value="@Model.BirthDate.ToString("yyyy-MM-dd")">
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                           
                            <div class="col-md-6 d-flex align-items-center" style="margin-top: 26px">
                                <button class="btn btn-primary" type="button" style="border-radius: 12px;" onclick="ChangePassword()">Đổi mật khẩu</button>
                            </div>
                        </div>
                        <div id="passwordFields" style="display: none;">
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputCurrentPassword">Mật khẩu hiện tại</label>
                                    <input class="form-control" id="inputCurrentPassword" name="CurrentPassword" type="password" placeholder="Enter your current password">
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputNewPassword">Mật khẩu mới</label>
                                    <input class="form-control" id="inputNewPassword" name="NewPassword" type="password" placeholder="Enter your new password">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="small mb-1" for="inputConfirmPassword">Xác nhận mật khẩu mới</label>
                                <input class="form-control" id="inputConfirmPassword" name="ConfirmPassword" type="password" placeholder="Confirm your new password">
                            </div>
                            <div class="d-flex justify-content-between">
                                <button class="btn btn-secondary" type="button" onclick="ChangePassword()">Hủy</button>
                                <button class="btn btn-primary" type="submit" name="changePasswordButton" value="changePassword">Xác nhận đổi mật khẩu</button>
                            </div>
                        </div>
                        <div class="md-3">
                            <button class="btn btn-primary mt-4" type="submit" style="border-radius: 12px; width: 100%;">Cập nhập thông tin mới</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function ChangePassword() {
        var passwordFields = document.getElementById("passwordFields");
        if (passwordFields.style.display === "none") {
            passwordFields.style.display = "block";
        } else {
            passwordFields.style.display = "none";
        }
    }
</script>




<style>
    body {
       
        background-color: #f2f6fc;
        color: #69707a;
    }

    .img-account-profile {
        height: 10rem;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }

        .card .card-header {
            font-weight: 500;
        }

    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }

    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }

    .form-control, .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .nav-borders .nav-link.active {
        color: #06BBCC;
        border-bottom-color: #06BBCC;
    }

    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
</style>

