@using EasyLearning.Infrastructure.Data.Entities
@model EasyLearning.Infrastructure.Data.Entities.Course

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/admin/Views/Shared/AdminViewShared.cshtml";
}
<link href="~/css/coursedetails.css" rel="stylesheet" />

@* <div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6 bg-primary">
                        <div class="images p-3">
                            <img src="@Html.DisplayFor(model => model.ImageUrl)" width="500" height="400" title="" alt="" />
                        </div>
                    </div>
                    <div class="col-md-6 bg-primary">
                        <div class="product p-4">
                            <div class="mt-4 mb-3">
                                <div class="text-white ">
                                    <h2>@Html.DisplayFor(model => model.CoursesName)</h2>
                                </div>
                                <div class="price d-flex flex-row align-items-center text-white">
                                    <h2>@Html.DisplayFor(model => model.CoursesPrice)</h2>
                                </div>
                                <div>
                                    <p><h4 class ="text-white">@Html.DisplayFor(model => model.CoursesDescription)</h4></p>
                                </div>
                                <div class="text-white">
                                    <label class="control-label text-white"> Ngày bắt đầu :</label>
                                    @Html.DisplayFor(model => model.StartDate)
                                </div>
                                <div class="text-white">
                                    <label class="control-label text-white"> Ngày kết thúc :</label>
                                    @Html.DisplayFor(model => model.EndDate)
                                </div>
                                <div class="text-white">
                                    <label class="control-label text-white"> Hạn đăng ký :</label>
                                    @Html.DisplayFor(model => model.RegistrationDeadline)
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@

<div class="blog-single gray-bg">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-lg-8 m-15px-tb">
                <article class="article">
                    <div class="article-img">
                        <img src="@Html.DisplayFor(model => model.ImageUrl)" title="" alt="" />
                    </div>
                    <div class="article-title">
                        <h6><a href="http://localhost:5138/CustomerCourses/ListCourse">Khóa học</a></h6>
                        <h2>@Html.DisplayFor(model => model.CoursesName)</h2>
                        <div class="media">
                            <div class="avatar">
                                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" title="" alt="">
                            </div>
                            <div class="media-body">
                                @Html.DisplayFor(model => model.Instructor)
                            </div>
                        </div>
                    </div>
                    <div class="article-content">
                        @Html.DisplayFor(model => model.CoureseContent)
                    </div>
                    <div class="nav tag-cloud">
                        @if (Model.CoursesDetails is not null)
                        {
                            @foreach (CourseDetail item in Model.CoursesDetails)
                            {
                                <a href="#">item.Category.CategoryName</a>
                            }
                        }
                    </div>
                </article>
                @* <div class="contact-form article-comment">
                    <h4>Hãy để lại nhận xét</h4>
                    <form id="contact-form" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input name="Name" id="name" placeholder="Họ và tên *" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input name="Email" id="email" placeholder="Email *" class="form-control" type="email">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea name="message" id="message" placeholder="nhận xét của bạn *" rows="4" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="send">
                                    <button class="px-btn theme"><span>Gửi</span> <i class="arrow"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div> *@
            </div>
            <div class="col-lg-4 m-15px-tb blog-aside">
                <!-- Author -->
                <div class="widget widget-author">
                    <div class="widget-title">
                        <h3></h3>
                    </div>
                    <div class="widget-body">
                        <div class="media align-items-center">
                            <div class="avatar">
                                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" title="" alt="">
                            </div>
                            <div class="media-body">
                                <h6> Tôi là 
                                    <br>  @Html.DisplayFor(model => model.Instructor)
                                </h6>
                            </div>
                        </div>
                        <p></p>
                    </div>
                </div>
                <!-- End Author -->
                <!-- Trending Post -->
                <div class="widget widget-post">
                    <div class="widget-title">
                        <h3>Các khóa học nổi tiếng</h3>
                    </div>
                    <div class="widget-body">
                        <div class="latest-post-aside media">
                            <div class="lpa-left media-body">
                                <div class="lpa-title">
                                    <h5><a href="http://localhost:5138/admin/Course/Details/20e40ec8-6cb6-446b-901b-c09def412ce6">Tiếng Anh căn bản cho người mới bắt đầu</a></h5>
                                </div>                      
                            </div>
                            <div class="lpa-right">
                                <a href="http://localhost:5138/admin/Course/Details/20e40ec8-6cb6-446b-901b-c09def412ce6">
                                    <img src="https://ecorp.edu.vn/wp-content/uploads/ung-dung-hoc-tieng-anh-0.jpg" title="" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="latest-post-aside media">
                            <div class="lpa-left media-body">
                                <div class="lpa-title">
                                    <h5><a href="http://localhost:5138/admin/Course/Details/361ef5c5-26dd-4a6f-aa18-d21a49fd217f">5 Kỹ Năng Thiết Kế Adobe</a></h5>
                                </div>
                            </div>
                            <div class="lpa-right">
                                <a href="http://localhost:5138/admin/Course/Details/361ef5c5-26dd-4a6f-aa18-d21a49fd217f">
                                    <img src="https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs2/119110577/original/1e0417fdf5be05844383198a56d8acd8b57831e3/do-any-job-related-to-photoshop-premiere-pro-illustrator.jpg" title="" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="latest-post-aside media">
                            <div class="lpa-left media-body">
                                <div class="lpa-title">
                                    <h5><a href="http://localhost:5138/admin/Course/Details/6aefc6ee-bdb3-427a-9e75-e038d543fab6">HTML, CSS căn bản</a></h5>
                                </div>
                            </div>
                            <div class="lpa-right">
                                <a href="http://localhost:5138/admin/Course/Details/6aefc6ee-bdb3-427a-9e75-e038d543fab6">
                                    <img src="https://camo.githubusercontent.com/3795e5487dfe7c70b09b3e40c9d7a170bbb61aaec2b8bc35a2b4d0b5af1205ca/68747470733a2f2f7777772e69696d2e66722f65636f6c652d7765622f77702d636f6e74656e742f75706c6f6164732f323031372f30312f48544d4c352e6a7067" title="" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="latest-post-aside media">
                            <div class="lpa-left media-body">
                                <div class="lpa-title">
                                    <h5><a href="http://localhost:5138/admin/Course/Details/20e1d085-2b7e-4bc0-aaad-651949bd99a2">Guitar cơ bản cho người mới bắt đầu</a></h5>
                                </div>
                            </div>
                            <div class="lpa-right">
                                <a href="http://localhost:5138/admin/Course/Details/20e1d085-2b7e-4bc0-aaad-651949bd99a2">
                                    <img src="https://vietthuong.vn/upload/content/images/tu-van/2023/thang7-2023/guitar-lead-va-guitar-dem-su-khac-biet-la-gi.jpg" title="" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Trending Post -->
              
               @*  <!-- widget Tags -->
                <div class="widget widget-tags">
                    <div class="widget-title">
                        <h3>Latest Tags</h3>
                    </div>
                    <div class="widget-body">
                        <div class="nav tag-cloud">
                            <a href="#">Design</a>
                            <a href="#">Development</a>
                            <a href="#">Travel</a>
                            <a href="#">Web Design</a>
                            <a href="#">Marketing</a>
                            <a href="#">Research</a>
                            <a href="#">Managment</a>
                        </div>
                    </div>
                </div>
                <!-- End widget Tags --> *@
            </div>
        </div>
    </div>
</div>


@* <div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoursesName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoursesName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoursesDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoursesDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoursesPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoursesPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Requirements)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Requirements)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoureseContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoureseContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Html.DisplayFor(model => model.ImageUrl)" alt="Alternate Text" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationDeadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDeadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxAttdendees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxAttdendees)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateChange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateChange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div> *@
<div>
    <a asp-action="Index" class="btn btn-outline-danger">Quay lại</a>
</div>
