@model IEnumerable<EasyLearning.Infrastructure.Data.Entities.Course>

@{
    Layout = "~/Areas/admin/Views/Shared/AdminViewShared.cshtml";
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CoursesName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoursesDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoursesPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requirements)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoureseContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationDeadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxAttdendees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateChange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CoursesName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoursesDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoursesPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Requirements)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoureseContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDeadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxAttdendees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                
            <td>
                @Html.DisplayFor(modelItem => item.DateChange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new { id=item.Id }) |
                @Html.ActionLink("Details", "Detail", new { id=item.Id}) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })|
                @Html.ActionLink("index TranningPart", "Index", "TranningPart", new { courseId = item.Id }, null)
                @Html.ActionLink("AddEvent", "Index", "Event", new { courseId = item.Id }, null)
            </td>
        </tr>
}
    </tbody>
</table>
