@model IEnumerable<EasyLearning.Infrastructure.Data.Entities.Course>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/admin/Views/Shared/AdminViewShared.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Create New</a>
    <a asp-controller="CustomerCourses" asp-action="Index">Aaaa</a>
    
</p>
    <table class="table">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Tên</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Ngày bắt đầu</th>
                    <th scope="col">Ngày kết thúc</th>
                    <th scope="col">Ngày hết hạn đăng ký</th>
                    <th scope="col">Sỉ số</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CoursesName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CoursesPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartEnd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegistrationDeadline)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaxAttdendees)
                        </td>
                        <td>
                            @Html.ActionLink("Sửa", "Update","Course", new { id = item.Id }, new { @class = "btn btn-info", @role = "button" })
                            @Html.ActionLink("Chi tiết", "Details", "Course", new { id = item.Id }, new { @class = "btn btn-warning", @role = "button" })
                            @Html.ActionLink("Xóa", "Delete", "Course", new { id = item.Id }, new { @class = "btn btn-danger", @role = "button" })
                            @Html.ActionLink("Thêm phần của khóa", "Index", "TranningPart", new { courseId = item.Id }, new { @class = "btn btn-info", @role = "button" })
                            @Html.ActionLink("Thêm lớp", "Index", "Event", new { courseId = item.Id }, new { @class = "btn btn-info", @role = "button" })
                        <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-courseId="@item.Id">Addtocarrt</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @if (Model is null)
        {
            <div>Loading</div>
        }
        else
        {
            }
    @* </tbody> *@
</table>
