@using EasyLearing.Infrastructure.Data.Entities;
@model EasyLearning.WebApp.Models.CustomerCourseViewModel
@{
    ViewData["Title"] = "OnlineEventSchedule";
    Layout = null;
}

<link rel="stylesheet" href="https://cdn.plyr.io/3.6.8/plyr.css" />
<script src="https://cdn.plyr.io/3.6.8/plyr.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
<link href="~/css/OnlineEventSchedule.css" rel="stylesheet" />
<link href="~/css/test3.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
<div class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        @{
            var countTrainingPartByCourse = Model.TrainingParts
            .Where(tp => tp.CoursesId == Model.Course.Id)
            .Count();

            var listTrainingPartsByCourse = Model.TrainingParts
            .Where(tp => tp.CoursesId == Model.Course.Id)
            .ToList();

            int countCompletedTrainningPartByCourse = 0;
                @foreach (var itemTrainingPartsByCourseEventId in listTrainingPartsByCourse)
            {
                foreach (var itemUserTrainingPartProgress in Model.UserTrainingProgresss)
                {
                    if (itemTrainingPartsByCourseEventId.Id == itemUserTrainingPartProgress.TrainingPartId
                    && itemUserTrainingPartProgress.IsCompleted == true)
                    {
                        countCompletedTrainningPartByCourse = countCompletedTrainningPartByCourse + 1;
                    }
                }
            }
            double percentCompletedByCourse = (double)countCompletedTrainningPartByCourse / countTrainingPartByCourse * 100;
        }
        <div class="navbar-brand ps-3" style="padding-top: 6px">
            <div class="container-circular-progress">
                <div style="display: flex;">
                    <div class="circular-progress" id="progress-@Model.Course.Id">
                        <span class="progress-value" data-percent="@percentCompletedByCourse"> 0%</span>
                    </div>
                    <div class="complete-course" style="margin-top: 8px">
                        <h6 class="title" style="margin-left: 8px; font-size: 14px; color: #38c9d6"> @countCompletedTrainningPartByCourse/@countTrainingPartByCourse bài học</h6>
                    </div>
                </div>
            </div>
        </div>
      
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        
            <div class="input-group d-flex justify-content-center">
                <p class="navbar-brand ps-3" style=" color: white; margin-right: 60px ">@Model.Course.CoursesName</p>
            </div>
      

        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="#!">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu" >
                    <div class="nav">

                        <div class="sb-sidenav-menu-heading">Nội dung khóa học</div>
                        @{
                            var listCourseEventsId = Model.TrainingParts
                            .Where(tp => tp.CoursesId == Model.Course.Id) // Lọc các bản ghi TrainingPart có CoursesId phù hợp
                            .Select(tp => tp.EventId) // Chọn thuộc tính CourseEvent từ các bản ghi TrainingPart
                            .Distinct() // Loại bỏ các sự kiện trùng lặp
                            .ToList();
                        }
                        @{
                            bool isFirstTrainingPart = true;
                            var previousItemTrainingPart = Model.TrainingParts.FirstOrDefault();
                        }
                        @foreach (var itemCourseEventId in listCourseEventsId)
                        {
                            @foreach (var itemCourseEvent in Model.CourseEvents)
                            {
                                if (itemCourseEvent.Id == itemCourseEventId)
                                {
                                    <a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseLayouts_@itemCourseEventId" aria-expanded="false" aria-controls="collapseLayouts_@itemCourseEventId">
                                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                        @itemCourseEvent.EventName
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>

                                    @foreach (var itemTrainingPart in Model.TrainingParts)
                                    {
                                        if (itemTrainingPart.EventId == itemCourseEventId)
                                        {
                                            var matchingUserTrainingPartProgress = Model.UserTrainingProgresss.FirstOrDefault(x => x.TrainingPartId == previousItemTrainingPart.Id);
                                            <div class="collapse collapseContainer" id="collapseLayouts_@itemCourseEventId" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                                <nav class="sb-sidenav-menu-nested nav">

                                                    <a class="nav-link" @(isFirstTrainingPart ? "active" : "")" id="@("tab-" + itemTrainingPart.Id)" data-toggle="tab" href="#@(itemTrainingPart.Id)" role="tab" aria-controls="@itemTrainingPart.Id" aria-selected="@(isFirstTrainingPart ? "true" : "false")" ">
                                                        <div id="@("icon-container-" + itemTrainingPart.Id)" class="icon-container-@itemTrainingPart.Id" style="margin-right: 8px">
                                                            @foreach(var userTrainingPartProgress in Model.UserTrainingProgresss)
                                                            {
                                                                if (userTrainingPartProgress.TrainingPartId == itemTrainingPart.Id)
                                                                {
                                                                    @if (matchingUserTrainingPartProgress != null && matchingUserTrainingPartProgress.IsCompleted && !userTrainingPartProgress.IsCompleted)
                                                                    {
                                                                        <i class="fa-solid fa-lock" style="display: none;"></i>
                                                                        <i class="fa-solid fa-square-check" style="display: none;"></i>
                                                                        <i class="fa-solid fa-square"></i>
                                                                    }
                                                                    else if (userTrainingPartProgress.IsCompleted == false)
                                                                    {
                                                                        <i class="fa-solid fa-lock" style="pointer-events: none;"></i>
                                                                        <i class="fa-solid fa-square-check" style="display: none;"></i>
                                                                        <i class="fa-solid fa-square" style="display: none;"></i>
                                                                    }
                                                                    else
                                                                    {
                                                                        <i class="fa-solid fa-lock" style="display: none;"></i>
                                                                        <i class="fa-solid fa-square-check"></i>
                                                                        <i class="fa-solid fa-square" style="display: none;"></i>
                                                                    }
                                                                }
                                                            }
                                                        </div>
                                                        <span>@itemTrainingPart.TrainingPartName</span>
                                                    </a>
                                                </nav>
                                            </div>
                                        }
                                        previousItemTrainingPart = @itemTrainingPart;
                                        isFirstTrainingPart = false;
                                    }
                                }
                            }
                        } 
                    </div>
                </div>
            </nav>               
        </div>
        @{
            bool isFirstTab = true;
        }
        <div id="layoutSidenav_content">
            @foreach(var itemTrainingPart in Model.TrainingParts)
            {
                if (itemTrainingPart.TraininpartType == TraininpartType.Lesson)
                {
                    <div class="tab-pane fade @(isFirstTab  ? "show active" : "")" id="@itemTrainingPart.Id" role="tabpanel" aria-labelledby="@("tab-" + itemTrainingPart.Id)" >
                        <div class="plyr__video-embed" >
                            <video controls crossorigin playsinline class="videoPlayer" data-video-name="@itemTrainingPart.VideoUrl" data-trainingpart-id="@itemTrainingPart.Id" data-trainingpart-iscomplete="@itemTrainingPart.IsDeleted.ToString()" class="icon-container-@itemTrainingPart.Id">
                                <source src="@itemTrainingPart.VideoUrl" type="video/mp4" />
                            </video>
                            <div class="card mb-4" style="margin-top: 280px ; margin-left: 28px; margin-right: 28px; border-color: #06BBCC">
                                <div class="card-body" style="margin-left: 80px;">
                                    <h2>@itemTrainingPart.TrainingPartName</h2>
                                    <small style="color:#06BBCC ">Cập nhập tháng @itemTrainingPart.DateChange.Value.Month năm @itemTrainingPart.DateChange.Value.Year </small>
                                </div>
                            </div>
                        </div> 
                    </div>
                }
                else
                {
                    <div class="tab-pane fade @(isFirstTab  ? "show active" : "")" id="@itemTrainingPart.Id" role="tabpanel" aria-labelledby="@("tab-" + itemTrainingPart.Id)">
                        
                        <section class="p-3 p-md-4 p-xl-5">
                            <div class="container">
                                <div class="card border-light-subtle shadow-sm">
                                    <div class="row g-0" >
                                        <div class="col-12 col-md-4">
                                            <img class="img-fluid rounded-start w-100 h-100 object-fit-cover" loading="lazy" src="~/img/about.jpg" alt="BootstrapBrain Logo">
                                        </div>
                                        @foreach (var itemUserTrainingPartProgress in Model.UserTrainingProgresss)
                                        {
                                            if (itemUserTrainingPartProgress.TrainingPartId == itemTrainingPart.Id && !itemUserTrainingPartProgress.IsCompleted)
                                            {
                                                <div class="Notification col-12 col-md-8">
                                                    <div class="card-body p-3 p-md-4 p-xl-5">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="mb-5">

                                                                    <div style="display: flex; justify-content: center; align-items: center;">
                                                                        <!-- Đây là phần tử cha -->
                                                                        <i style="font-size: 100px; color: #06BBCC; font-weight: 700;" class="far fa-check-circle"></i> <!-- Đây là biểu tượng -->
                                                                    </div>

                                                                    <h2 class="h1 text-center" style="margin-top: 12px;">Bạn đã sẵn sàng làm bài kiểm tra!</h2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row gy-3 gy-md-4 overflow-hidden " style="margin-top: 20px;">
                                                            <div class="col-12">
                                                                <p class="text-center">Hãy nhấn nút "Bắt Đầu" để bắt đầu làm bài kiểm tra bài vừa học. Chúc bạn ôn tập hiệu quả!</p>
                                                            </div> 
                                                            <div class="col-12">
                                                                <div class="exercise-start-screen d-grid">
                                                                    <button class="exercise-start-button btn bsb-btn-xl btn-primary" style="background-color: #06BBCC; border-color: #06BBCC" type="submit" data-trainingpart-id="@itemTrainingPart.Id" data-trainingpart-iscomplete="@itemTrainingPart.IsDeleted">Bắt đầu</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <p class="mt-5 mb-4">Thông tin của bạn về bài tập</p>
                                                                <div class="d-flex gap-3 flex-column flex-xl-row">
                                                                    <a href="#!" class="btn bsb-btn-xl btn-outline-primary">
                                                                   
                                                                        <span class="ms-2 fs-6">Nhật kí hoạt động</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                               
                                                <div class="NoticeOfRework ol-12 col-md-8 d-none">
                                                    <div class="card-body p-3 p-md-4 p-xl-5">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="mb-5">
                                                                    @{
                                                                        var questionCountByTrainingPartId = Model.ExerciseQuestionsByCourse
                                                                        .Where(x => x.TrainingPartId == itemTrainingPart.Id)
                                                                        .Count();
                                                                     
                                                                        }
                                                                    <div style="display: flex; justify-content: center; align-items: center;">
                                                                      
                                                                        <i style="font-size: 100px; color: #06BBCC; font-weight: 700;" class="far fa-check-circle"></i> <!-- Đây là biểu tượng -->
                                                                    </div>

                                                                    <h2 class="h1 text-center" style="margin-top: 12px;">Bạn đã hoàn thành bài kiểm tra này!</h2>
                                                                    <div style="display: flex; justify-content: center; align-items: center; padding-top: 20px">
                                                                        <progress id="resultProgress_@itemTrainingPart.Id" value="100" max="100" style="--value: 100; --max: 100; max-width: 400px;"></progress>
                                                                    </div>
                                                                    <p class="text-center" style="margin-top: 10px; font-size: 16px; font-weight: bold;" id="resultText_@itemTrainingPart.Id"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row gy-3 gy-md-4 overflow-hidden">
                                                            <div class="col-12">

                                                                <p class="text-center">Nếu bạn muốn ôn lại kiến thức trong buổi này ! Hãy nhấn nút làm lại để bắt đầu làm bài. Chúc bạn ôn tập hiệu quả</p>

                                                            </div>
                                                            <div class="col-12">
                                                                <div class="exercise-restart-screen d-grid">
                                                                    <button class="exercise-restart-button btn bsb-btn-xl btn-primary" style="background-color: #06BBCC; border-color: #06BBCC" type="submit" data-trainingpart-id="@itemTrainingPart.Id">Làm lại</button>
                                                                    <small style="text-align: center; margin-top : 12px">khi làm lại thì điểm số của bạn sẽ không được lưu!</small>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <p class="mb-4" style="padding-top: 5px">Thông tin của bạn về bài tập</p>
                                                                <div class="d-flex gap-2 flex-column flex-xl-row">
                                                                    <a href="#!" class="btn bsb-btn-xl btn-outline-primary">
                                                                        <span class="ms-2 fs-6" id="recentAttemptDate_@itemTrainingPart.Id">
                                                                            Lần làm gần đây nhất vào ngày @itemTrainingPart.DateChange.Value.Day tháng @itemTrainingPart.DateChange.Value.Month năm @itemTrainingPart.DateChange.Value.Year
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            }
                                            else if (itemUserTrainingPartProgress.TrainingPartId == itemTrainingPart.Id && itemUserTrainingPartProgress.IsCompleted)
                                            {
                                                <div class="Notification col-12 col-md-8  d-none">
                                                    <div class="card-body p-3 p-md-4 p-xl-5">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="mb-5">

                                                                    <div style="display: flex; justify-content: center; align-items: center;">
                                                                        <!-- Đây là phần tử cha -->
                                                                        <i style="font-size: 100px; color: #06BBCC; font-weight: 700;" class="far fa-check-circle"></i> <!-- Đây là biểu tượng -->
                                                                    </div>

                                                                    <h2 class="h1 text-center" style="margin-top: 12px;">Bạn đã sẵn sàng làm bài kiểm tra!</h2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row gy-3 gy-md-4 overflow-hidden " style="margin-top: 20px;">
                                                            <div class="col-12">
                                                                <p class="text-center">Hãy nhấn nút "Bắt Đầu" để bắt đầu làm bài kiểm tra bài vừa học. Chúc bạn ôn tập hiệu quả!</p>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="exercise-start-screen d-grid">
                                                                    <button class="exercise-start-button btn bsb-btn-xl btn-primary" style="background-color: #06BBCC; border-color: #06BBCC" type="submit" data-trainingpart-id="@itemTrainingPart.Id" data-trainingpart-iscomplete="@itemTrainingPart.IsDeleted">Bắt đầu</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <p class="mt-5 mb-4">Or sign in with</p>
                                                                <div class="d-flex gap-3 flex-column flex-xl-row">
                                                                    <a href="#!" class="btn bsb-btn-xl btn-outline-primary">

                                                                        <span class="ms-2 fs-6">Điểm</span>
                                                                    </a>
                                                                    <a href="#!" class="btn bsb-btn-xl btn-outline-primary">

                                                                        <span class="ms-2 fs-6">Hoạt động</span>
                                                                    </a>
                                                                    <a href="#!" class="btn bsb-btn-xl btn-outline-primary">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="NoticeOfRework ol-12 col-md-8">
                                                    <div class="card-body p-3 p-md-4 p-xl-5">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="mb-5">
                                                                    @{
                                                                        var questionCountByTrainingPartId = Model.ExerciseQuestionsByCourse
                                                                        .Where(x => x.TrainingPartId == itemTrainingPart.Id)
                                                                        .Count();
                                                                        var ListCorrectPercentage = ViewData["ListCorrectPercentage"] as List<(string userTrainingPartProgressId, int correctPercentage)>;
                                                                       }
                                                                    <div style="display: flex; justify-content: center; align-items: center;">
                                                                      
                                                                        <i style="font-size: 100px; color: #06BBCC; font-weight: 700;" class="far fa-check-circle"></i> <!-- Đây là biểu tượng -->
                                                                    </div>

                                                                    <h2 class="h1 text-center" style="margin-top: 12px;">Bạn đã hoàn thành bài kiểm tra này!</h2>
                                                                    @foreach (var itemCorrectPercentage in ListCorrectPercentage)
                                                                    {
                                                                        if (itemCorrectPercentage.userTrainingPartProgressId == itemUserTrainingPartProgress.Id)
                                                                        {
                                                                            <div style="display: flex; justify-content: center; align-items: center; padding-top: 20px">
                                                                                <progress id="resultProgress_@itemTrainingPart.Id" value="100" max="100" style="--value: @itemCorrectPercentage.correctPercentage; --max: 100; max-width: 400px;"></progress>
                                                                            </div>
                                                                        }
                                                                    }
                                                                    <p class="text-center" style="margin-top: 10px; font-size: 16px; font-weight: bold;" id="resultText_@itemTrainingPart.Id">@itemUserTrainingPartProgress.CorrectAnswersCount / @questionCountByTrainingPartId câu trả lời đúng</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row gy-3 gy-md-4 overflow-hidden">
                                                            <div class="col-12">

                                                                <p class="text-center">Nếu bạn muốn ôn lại kiến thức trong buổi này ! Hãy nhấn nút làm lại để bắt đầu làm bài. Chúc bạn ôn tập hiệu quả</p>

                                                            </div>
                                                            <div class="col-12">
                                                                <div class="exercise-restart-screen d-grid">
                                                                    <button class="exercise-restart-button btn bsb-btn-xl btn-primary" style="background-color: #06BBCC; border-color: #06BBCC" type="submit" data-trainingpart-id="@itemTrainingPart.Id">Làm lại</button>
                                                                    <small style="text-align: center; margin-top : 12px">khi làm lại thì điểm số của bạn sẽ không được lưu!</small>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <p class="mb-4" style="padding-top: 5px">Thông tin của bạn về bài tập</p>
                                                                <div class="d-flex gap-2 flex-column flex-xl-row">
                                                                    <a href="#!" class="btn bsb-btn-xl btn-outline-primary">
                                                                        <span class="ms-2 fs-6" id="recentAttemptDate_@itemTrainingPart.Id">
                                                                            Lần làm gần đây nhất vào ngày @itemUserTrainingPartProgress.DateChange.Value.Day tháng @itemUserTrainingPartProgress.DateChange.Value.Month năm @itemUserTrainingPartProgress.DateChange.Value.Year
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            }
                                        }


                                        <div class="quiz col-12 col-md-8 d-none">

                                            <div class="col-12">
                                                <div class="mb-5">
                                                    <h2 class="h1 text-center">Bài tập trắc nghiệm ôn tập</h2>
                                                </div>
                                            </div>
                                            <div class="exercise-content">
                                                <div class="exercise-display-container hide">
                                                    <div class="exercise-header">
                                                        <div class="number-of-count" style="margin-left: 12px;">
                                                            <span class="number-of-question "></span>
                                                        </div>
                                                        <div class="timer-div" style="margin-left: 12px;">
                                                            <img src="https://uxwing.com/wp-content/themes/uxwing/download/time-and-date/stopwatch-icon.png" width="20px" />
                                                            <span class="time-left"></span>
                                                        </div>
                                                    </div>
                                                    <div class="exercise-container">
                                                    </div>
                                                    <div class="col-12" >
                                                        <button class="next-button btn bsb-btn-xl btn-primary" type="submit" style="margin-left: 25%; width: 50%; margin-top: 50px; margin-bottom: 50px;" >Tiếp theo</button>
                                                    </div>
                                                   
                                                </div>
                                                <div class="score-container hide">
                                                    <div class="user-score"></div>
                                                    <button class="restart"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                }
                isFirstTab = false;
            }
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/js/OnlineEventScheduleScripts.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    @* <script src="~/assets/demo/chart-area-demo.js"></script>
    <script src="~/assets/demo/chart-bar-demo.js"></script>  *@
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="~/js/OnlineEventScheduleDatatablesSimple.js"></script>
    <script src="~/js/OnlineVideoYoutube.js"></script> 
    <script src="~/js/QuizTrainingPart.js"></script>
    <script src="~/js/TrackVideoEvent.js"></script>
    <script src="~/js/TabpaneClickShowOrHide.js"></script>
    <script src="~/js/CircleProgress.js"></script>
</div>



<style>
    /* Đổi màu của nút và văn bản khi di chuột vào */
    .btn-outline-primary:hover, .btn-outline-primary:hover small {
        color: #fff;
        background-color: #06BBCC;
        border-color: #06BBCC;
    }

    /* Đổi màu của văn bản trong các nút */
    .btn-outline-primary {
        color: #06BBCC;
        border-color: #06BBCC;
    }

        /* Đổi màu của văn bản trong các thẻ small */
        .btn-outline-primary small {
            color: color();
        }
</style>






