@model IEnumerable<EasyLearing.Infrastructure.Data.Entities.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/admin/Views/Shared/AdminViewShared.cshtml";
}

<h1 style="text-align: center">Danh sách thể loại</h1>
<hr />
<p>
    <a asp-action="Create" class="btn btn-info"> <i class="fa fa-plus" style="margin-right:10px"></i>  Thêm thể loại mới</a>
</p>

<table class="table table-striped table-bordered">
    <thead style="background-color: #06bbcc; color: white">
        <tr>
            <th>
                Tên thể loại
            </th>
            <th>
               Ngày tạo 
            </th>
            <th>
               Ngày cập nhập gần nhất
            </th>
            <th> 
                Chức năng
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateChange)
            </td>

            <td>
                @Html.ActionLink("Sửa", "Update","Category", new { id = item.Id }, new { @class = "btn btn-info", @role = "button" })
                @Html.ActionLink("Chi tiết", "Details", "Category", new { id = item.Id }, new { @class = "btn btn-warning", @role = "button" })
                @Html.ActionLink("Xóa", "Remove", "Category", new { id = item.Id }, new { @class = "btn btn-danger", @role = "button" }) 
            </td>
        </tr>
}
    </tbody>
</table>
