@using EasyLearing.Infrastructure.Data.Entities;
@using EasyLearning.Infrastructure.Data.Entities;
@model EasyLearning.WebApp.Areas.admin.Models.CourseViewModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/admin/Views/Shared/AdminViewShared.cshtml";
}

<h1 class="text-center">Thông tin chi tiết của khóa học</h1>
<h1 class="text-center" style="margin-bottom: 40px"><strong>@Model.CoursesName</strong> </h1>
<hr />
<div class="container">
    <div class="form-group">
        <label asp-for="CoursesName" class="control-label">Mã khóa học</label>
        <span class="form-control">@Model.CourseId</span>
    </div>
    <div class="form-group">
        <label asp-for="CoursesName" class="control-label">Tên khóa học</label>
        <span class="form-control">@Model.CoursesName</span>
    </div>
    <div class="form-group">
        <label asp-for="CourseType" class="control-label">Hình thức</label>
        <span class="form-control">@((Model.CourseType == CourseType.Online) ? "Online" : "Offline")</span>
    </div>
    <div class="form-group">
        <label asp-for="CoursesDescription" class="control-label">Chi tiết khóa học</label>
        <span class="form-control">@Model.CoursesDescription</span>
    </div>
    <div class="form-group">
        <label asp-for="CoursesPrice" class="control-label">Học phí</label>
        <span class="form-control">@Model.CoursesPrice</span>
    </div>
    <div class="form-group">
        <label asp-for="Requirements" class="control-label">Yêu cầu</label>
        <span class="form-control">@Model.Requirements</span>
    </div>
    <div class="form-group">
        <label asp-for="CoureseContent" class="control-label">Nội dung khóa học</label>
        <span class="form-control">@Model.CoureseContent</span>
    </div>
    <div class="form-group">
        <label asp-for="CurrentImage" class="control-label">Đường dẫn hình ảnh</label>
        <span class="form-control">@Model.CurrentImage</span>
    </div>
    <div class="form-group">
        <label asp-for="StartDate" class="control-label">Ngày bắt đầu</label>
        <span class="form-control">@Model.StartDate.ToShortDateString()</span>
    </div>
    <div class="form-group">
        <label asp-for="EndDate" class="control-label">Ngày kết thúc</label>
        <span class="form-control">@Model.EndDate.ToShortDateString()</span>
    </div>
    <div class="form-group">
        <label asp-for="RegistrationDeadline" class="control-label">Hạn đăng ký</label>
        <span class="form-control">@Model.RegistrationDeadline.ToShortDateString()</span>
    </div>
    <div class="form-group">
        <label asp-for="Instructor" class="control-label">Giảng viên</label>
        <span class="form-control">@Model.Instructor</span>
    </div>
    <div class="form-group">
        <label asp-for="MaxAttdendees" class="control-label">Số học viên tối đa</label>
        <span class="form-control">@Model.MaxAttdendees</span>
    </div>
    <div class="form-group">
        <label asp-for="StartDate" class="control-label">Ngày tạo</label>
        <span class="form-control">@Model.StartDate</span>
    </div>
    <div class="form-group">
        <label asp-for="DateChange" class="control-label">Ngày thay đổi</label>
        <span class="form-control">@Model.DateChange</span>
    </div>
    <div class="form-group">
        <label class="control-label">Thể loại</label>
        @foreach (var category in ViewBag.Categories)
        {
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="selectedCategories" value="@category.Value" checked="@category.Selected" disabled />
                    @category.Text
                </label>
            </div>
        }
    </div>
</div>

<div class="form-group text-center" style="">
    <a asp-action="Index" class="btn btn-outline-info btn-lg btn-block">Quay lại</a>
</div>
