@model IEnumerable<EasyLearning.Infrastructure.Data.Entities.Course>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/admin/Views/Shared/AdminViewShared.cshtml";
}

<h1 style="text-align: center">Danh sách khóa học</h1>
<hr/>
<p>
    <a asp-action="Create" class="btn btn-info"> <i class="fa fa-plus" style="margin-right:10px"></i>  Khóa Học Mới</a>
</p>
    <table class="table">
    <table class="table table-striped table-bordered">
        <thead style="background-color: #06bbcc; color: white">
                <tr>
                    <th scope="col">Tên</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Ngày bắt đầu</th>
                    <th scope="col">Ngày kết thúc</th>
                    <th scope="col">Ngày hạn đăng ký</th>
                    <th scope="col" style="width:80px">Sỉ số</th>
                    <th scope="col">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CoursesName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CoursesPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegistrationDeadline)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaxAttdendees)
                        </td>
                        <td>
                            @Html.ActionLink("Sửa", "Update","Course", new { id = item.Id }, new { @class = "btn btn-info", @role = "button" })
                            @Html.ActionLink("Chi tiết", "Details", "Course", new { id = item.Id }, new { @class = "btn btn-warning", @role = "button" })
                            @Html.ActionLink("Xóa", "Remove", "Course", new { id = item.Id }, new { @class = "btn btn-danger", @role = "button" })
                            @Html.ActionLink("Danh sách phần học", "Index", "TrainingPart", new { courseId = item.Id }, new { @class = "btn btn-info", @role = "button", @style = "margin-top: 5px;" })
                            @Html.ActionLink("Buổi học", "Index", "Event", new { courseId = item.Id }, new { @class = "btn btn-info", @role = "button", @style = "margin-top: 5px;" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @if (Model is null)
        {
            <div>Đang tải</div>
        }
        else
        {
        }
</table>
