@model IEnumerable<EasyLearning.WebApp.Areas.admin.Models.RecycleDataViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/admin/Views/Shared/AdminViewShared.cshtml";
}

<h1 style="text-align: center">Thùng rác chứa các tập tin bị xóa</h1>

<p>
    <a asp-action="Create" class="btn btn-info"> <i class="fa fa-plus" style="margin-right:10px"></i>  Khóa Học Mới</a>
    <a asp-controller="CustomerCourses" asp-action="Index"></a>
    
</p>
    <table class="table">
    <table class="table table-striped table-bordered">
        <thead style="background-color: #06bbcc; color: white">
                <tr>
                    <th scope="col">Mã tệp tin</th>
                    <th scope="col">Tên tệp tin</th>
                   
                    <th scope="col">Ngày xóa</th>
                
                    <th scope="col">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RemoveDate)
                        </td>
                      
                        <td>
                        @Html.ActionLink("Xóa khỏi cơ sơ dữ liệu", "deleteRecycle","Course", new { id = item.Id, itemType = item.ItemType }, new { @class = "btn btn-danger", @role = "button" })
                            @Html.ActionLink("Khôi phục", "Restore", "Course", new { id = item.Id , itemType = item.ItemType }, new { @class = "btn btn-warning", @role = "button" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @if (Model is null)
        {
            <div>Đang tải</div>
        }
        else
        {
        }
</table>
