@using EasyLearing.Infrastructure.Data.Entities;
@model IEnumerable<EasyLearing.Infrastructure.Data.Entities.CourseEvent>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/admin/Views/Shared/AdminViewShared.cshtml";
}

<h1 class="text-center">Nội dung các buổi học của khóa học</h1>
<h1 class="text-center" style="margin-bottom: 40px"><strong>@ViewBag.CourseName</strong> </h1>
<hr />
<p>
    <a asp-action="Create" asp-controller="Event" asp-route-CourseId="@ViewBag.CourseId" class="btn btn-outline-info"> <i class="fa fa-plus" style="margin-right:10px"></i>Tạo buổi học mới</a>
    <a asp-action="Index" asp-controller="Course" class="btn btn-outline-danger">Quay lại</a>
</p>
<table class="table table-striped table-bordered">
    <thead style="background-color: #06bbcc; color: white">
        <tr>
            <th>
                Nội dung buổi học
            </th>
            <th>
                Thời gian bắt đầu
            </th>
            <th>
               Thời gian kết thúc
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Hình thức
            </th>
            <th>
                Chức năng
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            @if (item.EventType == CourseEventType.Online)
            {
                <td>Trực tuyến</td>
            }
            else if (item.EventType == CourseEventType.Offline)
            {
                <td>Trực tiếp</td>
            }
            else
            {
                <td>Không xác định</td>
            }     
            <td>
                @Html.ActionLink("Sửa", "Update","Event", new { id = item.Id, courseId = @ViewBag.CourseId}, new { @class = "btn btn-info", @role = "button" })
                    @Html.ActionLink("Chi tiết", "Details", "Event", new { id = item.Id, courseId = @ViewBag.CourseId}, new { @class = "btn btn-warning", @role = "button" })
                    @Html.ActionLink("Xóa", "Remove", "Event", new { id = item.Id, courseId = @ViewBag.CourseId }, new { @class = "btn btn-danger", @role = "button" })
            </td>
        </tr>
}
    </tbody>
</table>
