@model EasyLearning.WebApp.Areas.admin.Models.TrainingPartViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/admin/Views/Shared/AdminViewShared.cshtml";
}

<h1 class="text-center">Thêm nội dung phần học cho khóa học</h1>
<h1 class="text-center" style="margin-bottom: 40px"><strong>@ViewBag.CourseName</strong> </h1>


<hr />
    <div class="container">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="CoursesId" name="CoursesId" value="@ViewBag.CourseId" />
            <div class="form-group">
                <label asp-for="EventId" class="control-label">Buổi học </label>
                <select asp-for="EventId" class="form-control" asp-items="@ViewBag.CourseEvent"></select>
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TrainingPartName" class="control-label">Tên phần học</label>
                <input asp-for="TrainingPartName" class="form-control" />
                <span asp-validation-for="TrainingPartName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label">Thời gian bắt đầu</label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label">thời gian kết thúc</label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label">Mô tả</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TrainingPartType">Hình thức:</label>
                <select asp-for="TrainingPartType" class="form-control">
                <option value="@((int)EasyLearing.Infrastructure.Data.Entities.TrainingPartType.Lesson)">Lý thuyết</option>
                <option value="@((int)EasyLearing.Infrastructure.Data.Entities.TrainingPartType.Exercise)">Bài tập</option>
                </select>
            <span asp-validation-for="TrainingPartType" class="text-danger"></span>
            </div>
            @if (ViewBag.IsOnlineCourse)
            {
                <div class="form-group">
                    <label class="control-label">Chọn nguồn video:</label><br>
                    <input type="radio" name="videoSource" id="onlineSource" checked style="margin-left: 24px"> <label for="onlineSource">Từ đường dẫn trực tuyến</label><br>
                    <input type="radio" name="videoSource" id="uploadSource" style="margin-left: 24px"> <label for="uploadSource">Từ máy tính</label>
                </div>

                <div id="onlineVideo" class="form-group">
                    <label asp-for="VideoUrl" class="control-label">Đường dẫn video</label>
                    <input asp-for="VideoUrl" class="form-control" />
                    <span asp-validation-for="VideoUrl" class="text-danger"></span>
                </div>
                <div class="form-group" id="uploadVideo" style="display: none;">
                    <label asp-for="Video" class="control-label">Tải lên video từ máy tính:</label>
                    <input asp-for="Video" class="form-control" type="file" />
                    <span asp-validation-for="VideoUrl" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="checkbox" asp-for="IsFree" id="IsFree" />
                    <label asp-for="IsFree" class="control-label">Miễn phí phần bài học này</label>
                    <span asp-validation-for="IsFree" class="text-danger"></span>
                </div>

            }

            <div class="form-group text-center" style="">
                <input type="submit" value="Tạo nội dung cho buổi học" class="btn btn-outline-info btn-lg btn-block" />
            </div>
        </form>
    </div>


<div>
    <a asp-action="Index" asp-route-courseId="@ViewBag.CourseId" class="btn btn-outline-danger">Quay lại</a>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var onlineSource = document.getElementById("onlineSource");
        var uploadSource = document.getElementById("uploadSource");
        var onlineVideo = document.getElementById("onlineVideo");
        var uploadVideo = document.getElementById("uploadVideo");
        var videoFile = document.getElementById("videoFile");

        onlineSource.addEventListener("change", function () {
            if (onlineSource.checked) {
                onlineVideo.style.display = "block";
                uploadVideo.style.display = "none";
            }
        });

        uploadSource.addEventListener("change", function () {
            if (uploadSource.checked) {
                onlineVideo.style.display = "none";
                uploadVideo.style.display = "block";
            }
        });
    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
