@model IEnumerable<EasyLearing.Infrastructure.Data.Entities.TrainingPart>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/admin/Views/Shared/AdminViewShared.cshtml";
}

<h1 class="text-center">Các nội dung học của khóa học</h1>
<h1 class="text-center" style="margin-bottom: 40px"><strong>@ViewBag.CourseName</strong> </h1>
<hr />
<p>
    <a asp-action="Create" asp-controller="TrainingPart" asp-route-CourseId="@ViewBag.CourseId" class="btn btn-outline-info"> <i class="fa fa-plus" style="margin-right:10px"></i>Tạo phần học mới</a>
    <a asp-action="Index" asp-controller="Course" class="btn btn-outline-danger" >Quay lại</a>

</p>
   
 
<table class="table table-striped table-bordered">
    <thead style="background-color: #06bbcc; color: white">
        <tr>
            <th>
               Tên phần khóa học
            </th>
            <th style="width: 450px">
               Mô tả
            </th>
            <th>
               Thời gian bắt đầu
            </th>
            <th>
               Thời gian kết thúc
            </th>
            <th>
               Chức năng
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrainingPartName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndTime)
                    </td>
                    <td>
                        @Html.ActionLink("Sửa", "Update","TrainingPart", new { id = item.Id }, new { @class = "btn btn-info", @role = "button" })
                        @Html.ActionLink("Chi tiết", "Details", "TrainingPart", new { id = item.Id }, new { @class = "btn btn-warning", @role = "button" })
                        @Html.ActionLink("Xóa", "Remove", "TrainingPart", new { id = item.Id }, new { @class = "btn btn-danger", @role = "button", @style = "margin-top: 5px;" })
                   
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
