@model EasyLearing.Infrastructure.Data.Entities.TranningPart

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/admin/Views/Shared/AdminViewShared.cshtml";
}

<h1>Xóa</h1>

<h3>Bạn Có Muốn Xóa Không ?</h3>
<div>
    <h4>Nội dung</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TranningPartName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TranningPartName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoursesId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoursesId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateChange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateChange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Xóa" class="btn btn-outline-danger" /> |
        <a asp-action="Index" asp-route-courseId="@Model.CoursesId " class="btn btn-outline-primary">Quay lại</a>
    </form>
</div>
